<!DOCTYPE html>
{% load static %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Modoboa mail platform." />
    <title>{% block pagetitle %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/offline.css' %}" />
  </head>

  <body>
    <main id="main-content" class="column">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
